body
{
	background-color: gray;
	margin: 0%;
	overflow: hidden;
}

#myCanvas
{
	background-color: black;
	width: 100%;
	height: 100%;
	position: fixed;
}

#myText
{
	position: fixed;
	top: 0%;
	color: yellow;
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
}

#myButton
{
	position: fixed;
	bottom: 10%;
	font-size: x-large;
}